/* gallery */
.gallery-footer {
    height: 40px;
}
/* modal image */
#modalImage .modal-dialog {
    width: 90%;
    height: 90%;
}
#modalImage .modal-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border-style: none;
}
#modalImage .modal-header {
    border-style: none;
}
#modalImage button.close {
    color: #fff;
    font-size: 30px;
    opacity: 0.5;
    text-shadow: none;
    padding: 0;
}
#modalImage button.close:hover {
    opacity: 1;
}
#modalImage button.btn-info {
    background-color: transparent;
    border-style: none;
    padding: 0;
    opacity: 0.5;
}
#modalImage button.btn-info:hover {
    opacity: 1;
}
#imageInfo {
    position: absolute;
    z-index: 20;
    max-width: 25%;
    min-width: 10%;
}
#modalImage .modal-body {
    width: 100%;
    height: 100%;
    text-align: center;
}
#currentImage {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
