<div class="container-fluid">
  {% for gallery in galleries %}
    <div class="panel panel-primary">
      <div class="panel-heading">{{ gallery.name }}</div>
      {% if gallery.description %}<div class="panel-body">{{ gallery.description }}</div>{% endif %}
    </div>
    <div class="row">
      {% for image in gallery.image_set.all %}
        <div class="col-sm-4">
          <a href="" onclick="showModalImage(event, this)" data-url="{{ image.file.url }}"
             {% if image.name %}data-img-name="{{ image.name }}"{% endif %}
             {% if image.description %}data-img-desc="{{ image.description }}"{% endif %}>
            <img src="{{ image.preview_url }}" width="100%" class="img-thumbnail">
          </a>
        </div>
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
    <div class="row"><div class="col-sm-12 gallery-footer"></div></div>
  {% endfor %}
</div>
{% include "front/modal_image.html" %}
