{% extends "front/base.html" %}

{% block content %}

{% if general.theme.header %}
  <nav class="navbar custom-panel">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand item" href="{% url 'main' %}">{{ general.header_text }}</a>
      </div>
    </div>
  </nav>
{% endif %}

{% block main_stuff %}
{% if general.theme.jumbotron %}
  <div class="container-fluid">
    <div class="jumbotron">
      {{ general.jumbotron_content|safe }}
    </div>
  </div>
{% endif %}

{% include general.theme.layout %}
{% endblock main_stuff %}

{% if general.theme.footer %}
  <footer class="container-fluid text-center custom-panel">
    {{ general.footer_text }}
  </footer>
{% endif %}

{% endblock %}
